@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
    font-size: 14px;
}

body {
    font-family: 'Roboto', sans-serif;
    margin : 0;
}

#main-layout {
    width : 100vw;
    height: 100vh;
    display: grid;
    grid-template:
        "navbar" 65px
        "content";
}

#navbar {
    grid-area: navbar;
}

#content {
    grid-area: content;
}